<phpunit bootstrap="vendor/weitzman/drupal-test-traits/src/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter">

<php>
  <!-- Set error reporting to E_ALL. -->
  <!-- Do not limit the amount of memory tests take to run. -->
  <ini name="memory_limit" value="-1"/>
  <!-- Example SIMPLETEST_BASE_URL value: http://localhost -->
  <env name="SIMPLETEST_BASE_URL" value="http://localhost"/>
  <!-- Example SIMPLETEST_DB value: mysql://username:password@localhost/databasename#table_prefix -->
  <env name="SIMPLETEST_DB" value="sqlite://localhost/sites/default/files/db.sqlite"/>
  <!-- Example BROWSERTEST_OUTPUT_DIRECTORY value: /path/to/webroot/sites/simpletest/browser_output -->
  <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/var/www/html/drupal10/sites/simpletest/browser_output"/>

  <env name="DTT_BASE_URL" value="http://localhost"/>
  <env name="DTT_API_URL" value="http://localhost"/>
    <!-- <env name="DTT_MINK_DRIVER_ARGS" value='["chrome", { "chromeOptions" : { "w3c": false } }, "http://localhost:4444/wd/hub"]'/> -->
    <!-- <env name="DTT_MINK_DRIVER_ARGS" value='["chrome", { "chromeOptions" : { "w3c": false } }, "http://localhost:9515"]'/> -->
   <env name="DTT_API_OPTIONS" value='{"socketTimeout": 360, "domWaitTimeout": 3600000}' />
</php> 

  <testsuites>
    <testsuite name="custom">
      <directory>./modules/custom</directory>
      <directory>./modules/contrib/ipc_registration</directory>
      <directory>./modules/contrib/ipcsync</directory>
    </testsuite>
<!--    <testsuite name="unit">-->
<!--      <file>./core/tests/TestSuites/UnitTestSuite.php</file>-->
<!--    </testsuite>-->
<!--    <testsuite name="kernel">-->
<!--      <file>./tests/TestSuites/KernelTestSuite.php</file>-->
<!--    </testsuite>-->
<!--    <testsuite name="functional">-->
<!--      <file>./tests/TestSuites/FunctionalTestSuite.php</file>-->
<!--    </testsuite>-->
<!--    <testsuite name="functional-javascript">-->
<!--      <file>./tests/TestSuites/FunctionalJavascriptTestSuite.php</file>-->
<!--    </testsuite>-->
<!--    <testsuite name="build">-->
<!--      <file>./tests/TestSuites/BuildTestSuite.php</file>-->
<!--    </testsuite>-->
  </testsuites>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
    <!-- The Symfony deprecation listener has to come after the Drupal listener -->
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
    </listener>
  </listeners>
  <!-- Filter for coverage reports. -->
  <filter>
    <whitelist>
      <directory>./modules/custom</directory>
      <!--<directory>./includes</directory>-->
      <!--<directory>./lib</directory>-->
      <!-- Extensions can have their own test directories, so exclude those. -->
      <!--<directory>./modules</directory>-->
      <exclude>
        <directory>./modules/*/src/Tests</directory>
        <directory>./modules/*/tests</directory>
        <directory>./themes/*/*/node_modules</directory>
      </exclude>
      <!--<directory>../modules</directory>-->
      <!--  <exclude>-->
      <!--    <directory>../modules/*/*/src/Tests</directory>-->
      <!--    <directory>../modules/*/*/tests</directory>-->
      <!--  </exclude>-->
      <!--<directory>../sites</directory>-->
     </whitelist>
  </filter>

</phpunit>